#updateUserInfoForm {
	background: url(../MetroStyleFiles/image/bg_NULL.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#updateUserInfoFormm table {
	text-align:center;
	magain: auto;
	color: #ffffff;
	font-size: 15px;
	border-collapse:collapse;
}

#updateUserInfoForm table tr td{
	height:35px;
	line-height:5px;
}

#updateUserInfoForm Div {
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 400px;
}

#tableForm {
	margin: auto;
}

.imgclass {
	magain:20px;
	height: 20px;
	cursor: pointer;
}

