body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
#data_model_div
{
    position: fixed;
    top: 0;
    height: 130%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background-color: white;
    transition: opacity .15s linear;

}

.panelShowAnmitation
{
	animation:showPanel .4s;
-moz-animation:showPanel .4s; /* Firefox */
-webkit-animation:showPanel .4s; /* Safari and Chrome */
-o-animation:showPanel .4s; /* Opera */
width:100%;
}


@keyframes showPanel
{
from {width:0px;}
to {width:100%;}
}

@-moz-keyframes showPanel /* Firefox */
{
from {width:0px;}
to {width:100%;}
}

@-webkit-keyframes showPanel /* Safari and Chrome */
{
from {width:0px;}
to {width:100%;}
}

@-o-keyframes showPanel /* Opera */
{
from {width:0px;}
to {width:100%;}
}

#recognizeForm
{    position: fixed;
    width: 80%;
    top: 100px;
    left: 10%;
    z-index: 100;}
    
#recognizationx
{width:100%;
height:auto;}