@charset "utf-8";
/*-----------------------------------------------*/
  /* Social Learning Platform UI v1.0 */
  /* Created/Modified by: DS-MY Team: */
  /* HP 2014 */ 
/*-----------------------------------------------*/
/*-------------font-face configuration--------------*/
@font-face {font-family:'HP Simplified';src:url('../fonts/hpsimplified_w01_regular.eot'); src:url('../fonts/hpsimplified_w01_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/hpsimplified_w01_regular.woff') format('woff'), url('../fonts/hpsimplified_w01_regular.ttf') format('truetype');font-weight:normal;font-style:normal;}
/*@font-face {font-family:'HP Simplified';src:url('../fonts/hpsimplified_w01_bold.eot'); src:url('../fonts/hpsimplified_w01_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/hpsimplified_w01_bold.woff') format('woff'), url('../fontsy/hpsimplified_w01_bold.ttf') format('truetype');font-weight:bold;font-style:normal;}*/
/*@font-face{font-family: HPSimplified;src: url("../fonts/HPSimplifiedAS_W_Rg.eot");src: url("../fonts/HPSimplifiedAS_W_Rg.eot?#iefix") format("embedded-opentype"),url("../fonts/HPSimplifiedAS_W_Rg.ttf") format("truetype"),url("../fonts/HPSimplifiedAS_W_Rg.woff") format("woff") ;font-weight: normal;font-style: normal;   }*/
@font-face{font-family: "HPSimplifiedBd";src: url("../fonts/HPSimplifiedAS_W_Bd.eot");src: url("../fonts/HPSimplifiedAS_W_Bd.eot?#iefix") format("embedded-opentype"),url("../fonts/HPSimplifiedAS_W_Bd.ttf") format("truetype"),url("../fonts/HPSimplifiedAS_W_Bd.woff") format("woff") ;font-weight: bold;font-style: normal;   }
@font-face {font-family: 'HPSimplifiedLight';  src: url("../fonts/HPSimplifiedAS_W_Lt.eot");src: url("../fonts/HPSimplifiedAS_W_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HPSimplifiedAS_W_Lt.woff") format("woff"), url("../fonts/HPSimplifiedAS_W_Lt.ttf") format("truetype");font-weight: normal;font-style: normal; }
@font-face {font-family: 'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.svg#icomoon') format('svg');font-weight: normal;font-style: normal;}
/*-------------global setting--------------*/
html, body{height: 100%; font-family:"HP Simplified",Helvetica,Arial,sans-serif,SimSun;font-size:14px;}
input, button, select, textarea, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p ,li, div, span {font-family:"HP Simplified",Helvetica,Arial,sans-serif,SimSun; font-style: normal;}
body {background: #fff; padding-top: 170px;}
header .navbar .navbar-brand img {margin-top: -3px;}
header .page-header-container{height:50px; background-color: #fff;}
.nav > li > a:hover, .nav > li > a:focus{background-color: #0096D6}
a{color:#007dba}
.orange{color:#F6A024;}
.btn-md{padding: 5px 30px;font-size: 14px;line-height: 1.7;border-radius: 0 3px 0 3px !important; box-shadow: none; }
.btn-text:hover {background-color: #D7410B;color: #fff;}
.btn-text, .btn-text:focus {background-color: #0096D6;color: #fff; margin-right: 2px;}
.box-header p{margin-bottom: 0; color: white}
.form-control, .box .box-content{border-radius: 0; box-shadow: none;}
#footer .text{text-align: left;}
.uneditable-input.form-control.txtarea{height: auto;}
.pull-center{text-align: center;}
.toggle-nav.btn.pull-left {margin-top: 17px;}
.btn{background-color: #F8A426; color: #fff;border-radius: 0 3px !important;border-color: transparent;padding:5px 25px; }
.btn:focus, .btn:hover{background-color: #0096d6;color: #fff;}
ul.no-style{list-style-type: none;padding-left: 0;}
.placeholder {color: #aaa;}
#aboutUs .twitter-feed {overflow-y: scroll; height:260px;}
#aboutUs .twitter-feed > ul {padding:0;margin-left:0px;}
#aboutUs .twitter-feed > ul > li {margin-bottom:10px;padding-left:15px;}
#aboutUs .twitter-feed > ul > li.active {border-left:4px solid #0096d6;}
#aboutUs .twitter-feed > ul > li > p {margin:0;}
#aboutUs .twitter-feed > ul > li > p.time {font-size:12px;}
#aboutUs .twitter-feed > ul > li > p > a{text-decoration: none;}
/*------------header--------------------------*/
.contrast-blue header .navbar{background-color: #fff;padding: 20px 0; height: 120px;}
.contrast-blue header .navbar .navbar-brand{height: auto;}
.contrast-blue header .navbar .navbar-brand img{padding-right: 10px;}
.contrast-blue header .navbar .navbar-brand img,.contrast-blue header .navbar .navbar-brand div.title{display: inline-block;float: left;}
.contrast-blue header .navbar .navbar-brand div.title{padding-top: 10px;}
.contrast-blue header .navbar .navbar-brand div.title h1{font-family: "HP Simplified"; font-size: 30px;}
.contrast-blue header .navbar .navbar-brand div.title h4{color:#767676;}
.contrast-blue header .navbar .navbar-brand div.title h1,.contrast-blue header .navbar .navbar-brand div.title h4{margin:0;}
header .page-header-container {background-color: #0096d6; color: #fff;border-bottom: 1px solid #bababa;}
header .page-header-container .page-header .menu .nav > li > a{color: #fff;font-size: 17px;}
header .page-header-container .page-header .menu .nav > li > a i.icon-home{font-size: 25px;}
header .page-header-container .page-header .menu .nav > li > a:hover,.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: #0096D6;}
.nav-tabs-simple > .active > a.blue-border, .nav-tabs-simple > .active > a:hover.blue-border, .nav-tabs-simple > .active > a:focus.blue-border{border-bottom-color: #FFB048 !important;border-bottom-width:2px;}
.nav-tabs-simple  a{outline:none;}
.menu{float: left;}
.page-header{margin-bottom: 0; margin-top: 0; height: auto; min-height: auto;border-bottom: none;}
.page-header .nav-tabs{border-bottom: none; margin-bottom: 0;}
.blue-toolbar {background: #0096D6;color: #fff;border-bottom: solid 1px #F8A426;}
.blue-toolbar p {padding: 10px 0;margin: 0;}

/*-------------social-------------------------*/
.social p{color: #000;font-size:20px;font-weight: normal}
.social p.likes{color: #f7931d;font-size: 30px;}
.social #TwitterCounter a {color: #f7931d;font-size: 30px;margin: 3px 0;}
.social .label{text-align: right;}
.label p {margin: 3px 0;}
.social .twitter {padding: 10px 0 0;}
.social .fb {padding: 10px 0 0 5px;}
.social .twitter .label, .social .fb .label{float: left;}
.social .twitter .icon-box, .social .fb .icon-box
{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #0096d6;
  float: left;
  text-align: center;
  margin-top: 6px;
}
.tweetz-label {
  color: #fff;
  /*font-family: "HPSimplifiedBd";*/
  font-weight: normal;
  font-size: 36px;
  margin-top: 5px;  
  margin-bottom: 6px;
}
.blue-bg{
  background-color: #4DB6E2;
}
.white-bg{
  background-color: #fff;
}
.black{
  color:#000;
}
.gray{
  color:#767676;
}
.icon-box-table
{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #fff;
  float: left;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.align-right{float:right;}
.twitter-part {
  font-size: 32px;
  color: #0096d6;
  text-align: center;
  margin-top: 8px;
  float: left;
  margin-left: 9px;
}
.like-part {
  font-size: 32px;
  color: #0096d6;
  text-align: center;
  margin-top: 8px;
  float: left;
  margin-left: 9px;}
.like-part.disabled { color:#ccc;}
.font-social {color: #f7931d;}
.twitter-table {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  float: left;
  margin-left: 9px;
}
.arrow-center {
  text-align: center;
}
.carousel {
max-width: 100%;
}

#login-container h1, #login-container h2, #login-container h3 {color: #fff;margin:0;}
#login-container h1{font-size: 55px;}
#login-container h2{font-size: 35px;}
#login-container h3 {padding: 30px 0;}
#login-container{position: relative;height: 451px;}
/* #login-container .container{position: relative; z-index:100;} */
#login-container .box-content{position: relative;}
#login-container .carousel-inner{height: 451px;}
#login-container h1.firstlayer{margin-left: 105px;}
#login-container h1.secondlayer{font-family: "HPSimplifiedBd";margin-left: 80px;}
#login-container h2.thirdlayer{margin-left: 170px;}
#login-container .carousel-indicators .active{background-color:#0096d6;}
#login-container .carousel-indicators li{background-color: #fff;}
.thin{font-family: "HPSimplifiedLight"}
#login-container .social{background: url('../images/blackbg.png') 0 center repeat transparent;padding: 15px 0 35px;margin: 120px 0;position: absolute;left: 15%;width: 550px;}
#login-container .sideminderlogin{background: url('../images/signup_bg.png') 0 center repeat transparent;padding: 15px 0 35px;margin: 0px 0;position: absolute;right: 15%;width: 250px;z-index: 1;height:100%;}
#login-container .signup {position:absolute;width:390px;z-index: 100;}
#login-container .login{background: url('../images/signup_bg.png') 0 center repeat transparent;padding: 60px 35px 60px;border-radius: 0 0 15px 15px;}
#login-container .login h2.title{margin-bottom: 15px;}
#rlbAndNews{background-color: #0096D6; padding:50px 0;}
#rlbAndNews, #rlbAndNews h1, #rlbAndNews h2{color: #fff;}
#rlbAndNews h1{font-size:55px;}
#rlbAndNews h2{font-size: 20px;font-family: "HPSimplifiedBd";}
#rlbAndNews i.icon_book_alt,#rlbAndNews i.icon_map_alt,#rlbAndNews i.icon_group{font-size:43px; line-height:95px; color:#FFB048;}
#rlbAndNews p.more{font-family: "HPSimplifiedLight";font-size: 16px;}
#rlbAndNews .rlb .no-style li{margin-bottom: 33px;}
#features{background-color: #0096D6;padding:15px 0 65px;}
#features h1{font-size: 55px;color: #fff;padding-bottom: 15px;}
#features .bgtransparent{background-color: #BABABA; opacity: 0.6;}
#features .details{background: url('../images/blackbg.png') 0 0 repeat transparent;padding: 30px 15px 40px ; border-radius: 0 0 15px 15px;}
#features .details p{margin-bottom: 20px;color: #fff;}
#features .details h3{font-weight: bold;color: #fff;}
#aboutUs{background-color: #0096D6; color: #fff; padding: 40px 0 10px ;}
#aboutUs h2{color: #fff;font-family: "HPSimplifiedBd";font-weight: bold;font-size: 24px;margin-top: 0;}
#aboutUs p{font-size: 16px;}
#aboutUs .testimonial {background: url('../images/blackbg.png') 0 center repeat transparent; min-height:306px; padding:20px}
#aboutUs .testimonial p {font-size: 14px;}
#aboutUs .box-quick-link .header {color: #fff;height: 140px;line-height: 157px;font-size: 5.5em;background-color: #4DB6E2;border-radius: 100px;width: 140px;margin:0 auto 40px;}
#aboutUs .testimonial .header{float: right;}
.sitemap{list-style-type: none;display: block;}
.sitemap li{display: inline;}
#footer{padding: 20px 0;}
#footer .sitemap li a{color:#0096D5}
#footer .sitemap{padding-left: 0;}
#footer p,#footer ul,#footer h5{margin: 0;}
#footer .contact{margin-left: 264px;text-align: left;}
#footer a{color:#0096d6;}
.paralaxSlice1{background-image:url("../images/marquee01.jpg");}
.paralaxSlice2{background-image:url("../images/featuresbg.jpg");}
.paralaxSlice1,.paralaxSlice2{background-repeat: no-repeat;background-attachment: scroll;background-size: cover;background-position: top center;}
.mobile {display:none;}
.contrast-blue header .navbar .navbar-brand img.logo-mobile, .btn-mobile, .btn-tablet{display:none}
@media (max-width: 768px) {
  body{padding-top: 101px;}
  #login .login-container{height: auto;}
  #login .welcome-text,#login .welcome-text h3{font-size: 50px;}
  #login .login-section{padding-top: 30px;}
  #whyInsta .box-quick-link .header{width: 100%;height: auto}
  #aboutUs .box-quick-link .header{height: 80px;width: 80px;font-size: 3em;border-radius: 1000px;line-height: 80px;}
  .navbar-fixed-top .container .page-header .menu{display: none;}  
  #main-nav{position: fixed; padding-top: 61px;}
  .page-header{padding: 0; padding-top: 5px;}
}
@media (min-width: 768px){
    #login .login-container > div:first-child{display: none;}
    #login .login-section {margin-left: 0;}
    #event-container .table thead > tr > th:last-child, #event-container .table tbody > tr > td:last-child,#event-container .datatables-bottom{display: none;}
}
@media (min-width: 769px) and (max-width: 990px) {
  .lg-hide{display: none;}
  #whyInsta .box-quick-link .header, #aboutUs .box-quick-link .header{width: 100%;height: auto}
  .main-nav-opened #content {margin-left: auto;}
}
@media (min-width: 992px) {
  .lg-hide{display: none;}
  .main-nav-opened #content, .main-nav-closed #content {margin-left: auto;}
  #content {margin-left: auto;background: transparent;}
  .login-section {margin-left: 0;}
  #features img{width: 100%}
}
@media (min-width: 1200px) {
  #paralaxSlice1{background-attachment: fixed;background-position: 50% 0;background-size: cover;}
  #login .login-section {margin-left: 160px;} 
  #login .login-container > div:first-child {display: block;}
}
@media (max-width:1024px) {
  #login-container .signup {right: 70px;}
  #login-container .social{left: 10%;width: 437px;margin: 88px 0;}
  #login-container h1.firstlayer {margin-left: 47px;}
  #login-container h2.thirdlayer {margin-left: 119px;}
  #features .details p{height: 76px;}
}
.navbar .social .twitter{display: none;}
/* Mobile View */
@media screen and (max-width: 768px) {
     body {padding-top: 70px;background:#424244;}
	  .contrast-blue header .navbar .navbar-brand img.logo-mobile{display:block;width: 55px;padding-right: 10px;}
	 .contrast-blue header .navbar .navbar-brand img.logo-web{display:none}
	 .btn-web{display:none;}
	 .btn-mobile{display:block; width: 60%;}
   .btn-tablet{display:none;}
   .btn{padding:5px 10px;}
     .toggle-nav,.social,#rlbAndNews,#features,#aboutUs,div.container.web {
          display:none;
     }
     .navbar-fixed-top .container .page-header .menu{display: block;}
     .contrast-blue header .navbar .navbar-brand div.title h1 {font-size: 0.7em; color:#fff}
	 .contrast-blue header .navbar .navbar-brand div.title h4 {color:#fff}
   .contrast-blue header .navbar .navbar-brand div.title{padding-top: 0px;}
	 .contrast-blue header .navbar {background-color: #464646;}
     header .page-header-container, .carousel-inner, .carousel {display: none;}     
     header .page-header-container .page-header .menu .nav > li > a {font-size: 1em;}
     .contrast-blue header .navbar .navbar-brand img {width:70px;}
     .contrast-blue header .navbar {height:65px;padding: 10px 0 0 0;}
     #login-container .signup {width:90%;}
     #login-container .signup {right:5%;}
	 #login-container .login {background:none}
	 #footer {border-top:solid 1px #555555;}
     #footer p, #footer ul, #footer h5 {font-size: 1em; color:#fff}
	.mobile {display:block;}
     #footer {padding:5px 0;background: #424244}
}

/* old iphone */
@media screen and (max-width: 320px) {
   .btn-mobile{width: 75%;}
}